# Ambiente virtual
venv/

# Ignorar arquivos compilados do Python
*.pyc
*.pyo
__pycache__/
**/__pycache__/

# Ignorar arquivos de configuração do PyCharm
.idea/

# Arquivos de configuração locais
env/
**env/

# Ignorar arquivos das migrações do alembic
versions/

# Ignorar arquivos estáticos, mas manter a estrutura de diretórios
static/*
!static/.gitkeep
!static/images/
static/images/*
!static/images/.gitkeep